@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@100;300;400;500;700&family=Roboto:wght@100;300;500;700&display=swap');

/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.icon-tabler-heart.active {
  color: red;
}

a {
  text-decoration: none;
  color: inherit;
}

/* NAVBAR */

.nav-wrapper {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100% - 28px);
  background-color: white;
  padding: 8px 12px 20px;
  border-right: 1px solid rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-wrapper .container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 20vw;
  transition: all 0.5s ease;
}

.nav-wrapper .container.active {
  width: 59px;
}

.nav-wrapper a svg,
.menu-bar svg {
  width: 35px;
  text-align: start;
}

.brand-logo h1,
.brand-logo svg {
  padding: 25px 12px 16px;
  margin-bottom: 19px;
  color: black;
  font-size: 2rem;
}

.container a:nth-child(n+2),
.nav-wrapper footer,
.menu-bar {
  padding: 12px;
  margin: 4px 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  width: calc(100% - 24px);
}

.container a:nth-child(n+2):hover,
.nav-wrapper footer:hover,
.menu-bar:hover {
  background-color: rgb(240, 240, 240);
}

.nav-wrapper footer button,
.container a button,
.menu-bar button {
  border: none;
  background-color: inherit;
  padding-left: 16px;
  font-size: 1rem;
  cursor: pointer;
  text-align: start;
}

.notif-icon {
  position: relative;
}

.notif-count {
  position: absolute;
  top: 10px;
  left: 28px;
  background-color: red;
  height: 1rem;
  width: 1rem;
  font-size: 0.8rem;
  font-weight: 100;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
}

.dropdown-menu {
  z-index: 0;
  position: fixed;
  top: 0;
  left: -25rem;
  width: 25rem;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  border-radius: 0 20px 20px 0;
  border-right: 1px solid rgb(224, 222, 222);
  box-shadow: 10px 0 5px -2px rgba(97, 97, 97, 0.1);
  transition: all 0.5s ease;
  opacity: 0;
}

.dropdown-menu.active {
  left: 84px;
  opacity: 1;
  width: 25rem;
}

.dropdown-menu h1 {
  font-size: 22px;
  font-weight: 700;
  padding: 25px 15px 15px;
}

.notif-by {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  display: flex;
  padding: 15px 20px 15px;
}

.notif-by img {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.notif-by strong {
  margin-right: 15px;
  font-weight: 700;
}

.notification:hover {
  background-color: rgb(240, 240, 240);
}

.post-link-notif{
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-link-notif img{
  width: 40px;
}

.plus-black-active path:nth-child(4) {
  color: white;
}

.plus-black-active path:nth-child(3) {
  color: white;
}

.more-dropdown-container {
  position: absolute;
  background: white;
  bottom: 83px;
  border: 1px solid rgb(224, 222, 222);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(97, 97, 97, 0.4);
  padding: 0.5rem;
  width: 250px;
  z-index: 999;
}

.more-dropdown-container .menu-bar {
  font-size: 0.9rem;
  padding: 16px;
}

.more-dropdown-container .menu-bar:nth-child(3) button {
  margin-left: 10px;
  padding: 0;
}

.more-dropdown-container .menu-bar {
  margin: 0;
  min-height: 20px;
}

/*------------------------*/

/* HOME PAGE */

.home-container {
  margin-left: calc(14vw + 85px);
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.quick-message {
  width: 20rem;
  height: 20rem;
  background-color: blanchedalmond;
  margin: 25px 0 0 25px;
}

.post {
  max-width: 468px;
  min-width: 468px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(224, 222, 222);
  margin-bottom: 20px;
}

.post svg {
  cursor: pointer;
}

.post-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header .link-to-user {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.post-header label {
  cursor: pointer;
  font-size: 0.9rem;
}

.post-header label.loading{
  color: rgb(224, 222, 222);
  background-color: rgb(224, 222, 222);
}

.profile-photo {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin-right: 12px;
}

.profile-photo.loading{
  background-color: rgb(224, 222, 222);
  border: none;
}

.profile-photo.navbar {
  margin-right: 0;
}

.post .post-photo {
  width: 100%;
  min-height: 400px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(224, 222, 222);
}

.post .post-photo.loading{
  background-color: rgb(224, 222, 222);
  height: 600px;
  border: none;
}

.post .post-photo.loading::before{
  display: none;
}

.interactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.interactions div{
  display: flex;
}

.interactions div svg {
  margin-right: 15px;
}

.post-description h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.post-description h4.loading{
  background-color: rgb(224, 222, 222);
  color: rgb(224, 222, 222);
}

.post-description p {
  font-size: 0.9rem;
}

.post-description p.loading{
  background-color: rgb(224, 222, 222);
  color: rgb(224, 222, 222);
  line-height: 20px;
  display: inline;
  padding: 0;
  margin: 0;
}

/*------------------------*/

/* PROFILE */

.main-profile-container{
  margin-left: 22vw;
}

.profile-container{
  padding: 30px 20px 0;
  margin:0 114px;
  width: calc(100% - 268px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-data{
  width: 100%;
  display: flex;
}

.profile-picture{
  width: 300px;
  margin-right: 30px;
  text-align: center;
}

.profile-picture img{
  border-radius: 100%;
}

.username-edit{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-data{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.main-data div:nth-child(1) h5{
  font-size: 18px;
  margin-right: 20px;
}

.profile-username{
  font-weight: 700;
  font-size: 14px;
}

.profile-bio{
  margin-top: 20px;
  font-size: 14px;
}

.edit-button, .unfollow-button, .follow-button{
  padding: 0px 16px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  min-width: 69px;
  height: 32px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.follow-button{
  background-color: #0095f6;
  color: white;
}

.follow-button:hover{
  background-color: #0064e0;
}

.post-followers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 20px;
}

.post-followers div, .post-followers a{
  margin-right: 40px;
}

.post-followers strong{
  margin-right: 5px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

/*------------------------*/
.profile-setting-form {
  max-width: 400px;
}

.profile-picture-settings {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}




/* SIGNUP */
.form-outline {
  position: relative;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  position: absolute;
  bottom: -23px;
}

.notification-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-container .follow-notif-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-container a div {
  display: flex;
  justify-content: center;
  align-items: center;
}

