/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.icon-tabler-heart.active {
  color: red;
}

a {
  text-decoration: none;
  color: inherit;
}

.loading-screen{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.loading-screen img{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.loading-screen h1{
  font-size: 3rem;
}

/* NAVBAR */

.nav-wrapper {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100% - 28px);
  background-color: white;
  padding: 8px 12px 20px;
  border-right: 1px solid rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-wrapper .container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.5s ease;
}

.notif-button {
  width: 14vw;
  transition: width 0.5s ease;
}

.notif-button.active {
  width: 0;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

.logo-on-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-name {
  padding: 25px 12px 16px;
  margin-bottom: 19px;
  color: black;
  font-size: 2rem;
  transition: all 0.5s ease;
}

.logo-name.active {
  width: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.fa-instagram {
  padding: 25px 0 16px;
  margin: 0 2px;
  margin-bottom: 19px;
  font-size: 2rem;
  transition: all 0.5s ease;
  width: 50px;
}

.logo-on-top.active svg {
  width: 0;
}

.nav-wrapper a svg,
.menu-bar svg {
  text-align: start;
}

.container a:nth-child(n + 2),
.nav-wrapper footer,
.menu-bar {
  padding: 12px;
  margin: 4px 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  width: calc(100% - 24px);
}

.container a:nth-child(n + 2):hover,
.nav-wrapper footer:hover,
.menu-bar:hover {
  background-color: rgb(240, 240, 240);
}

.nav-wrapper footer button,
.container a button,
.menu-bar button {
  border: none;
  background-color: inherit;
  padding-left: 16px;
  font-size: 1rem;
  cursor: pointer;
  text-align: start;
}

.notif-icon {
  position: relative;
}

.notif-count {
  position: absolute;
  top: 10px;
  left: 28px;
  background-color: red;
  height: 1rem;
  width: 1rem;
  font-size: 0.7rem;
  font-weight: 600;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown-menu {
  z-index: 0;
  position: fixed;
  top: 0;
  left: -25rem;
  width: 25rem;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  border-radius: 0 20px 20px 0;
  border-right: 1px solid rgb(224, 222, 222);
  box-shadow: 10px 0 5px -2px rgba(97, 97, 97, 0.1);
  transition: all 0.5s ease;
  opacity: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.dropdown-menu::-webkit-scrollbar {
  display: none;
}

.dropdown-menu.active {
  left: 84px;
  opacity: 1;
  width: 25rem;
}

.dropdown-menu h1 {
  font-size: 22px;
  font-weight: 700;
  padding: 25px 15px 15px;
}

.notif-by {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  display: flex;
  padding: 10px 20px;
  width: calc(100% - 40px);
}

.notif-by img {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.notif-by strong {
  margin-right: 15px;
  font-weight: 700;
}

.notification:hover {
  background-color: rgb(240, 240, 240);
}

.photo-and-exit {
  display: flex;
}

.exit-button {
  margin-left: 0.3rem;
  padding: 0;
  background: inherit;
  border: none;
  cursor: pointer;
}

.post-link-notif {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-link-notif img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-left: 30px;
}

.plus-black-active path:nth-child(4) {
  color: white;
}

.plus-black-active path:nth-child(3) {
  color: white;
}

.more-dropdown-container {
  position: absolute;
  background: white;
  bottom: 83px;
  border: 1px solid rgb(224, 222, 222);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(97, 97, 97, 0.4);
  padding: 0.5rem;
  width: 250px;
  z-index: 999;
}

.more-dropdown-container .menu-bar {
  font-size: 0.8rem;
  padding: 16px;
  margin: 0;
  min-height: 20px;
  width: calc(100% - 32px);
}

.more-dropdown-container .menu-bar:nth-child(3) button {
  margin-left: 10px;
  padding: 0;
}

/*------------------------*/

/* HOME PAGE */

.home-container {
  margin-left: calc(14vw + 85px);
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.quick-message {
  width: 20rem;
  height: 20rem;
  background-color: blanchedalmond;
  margin: 25px 0 0 25px;
}

.post {
  max-width: 468px;
  min-width: 468px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.post svg {
  cursor: pointer;
}

.post-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header .link-to-user {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.post-header label {
  cursor: pointer;
  font-size: 0.8rem;
}

.post-header label.loading {
  color: rgb(224, 222, 222);
  background-color: rgb(224, 222, 222);
}

.profile-photo {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin-right: 12px;
}

.profile-photo.loading {
  background-color: rgb(224, 222, 222);
  border: none;
}

.profile-photo.navbar {
  margin-right: 0;
}

.post .post-photo {
  width: 100%;
  min-height: 400px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(224, 222, 222);
}

.post .post-photo.loading {
  background-color: rgb(224, 222, 222);
  height: 600px;
  border: none;
}

.post .post-photo.loading::before {
  display: none;
}

.interactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.interactions div {
  display: flex;
}

.interactions div svg {
  margin-right: 15px;
}

.interactions div:nth-child(2) svg {
  margin: 0;
}

.post-description {
  white-space: wrap;
}

.post-description h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.post-description h4.loading {
  background-color: rgb(224, 222, 222);
  color: rgb(224, 222, 222);
}

.description-paragraph {
  font-size: 0.8rem;
  overflow: hidden;
  max-height: 40px;
  max-width: 100%;
  line-height: 20px;
}

.description-paragraph.more {
  max-height: none;
}

.more-button {
  border: none;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
  color: rgb(150, 150, 150);
  margin-bottom: 10px;
}

.view-all-comments {
  font-size: 0.8rem;
  color: rgb(150, 150, 150);
  cursor: pointer;
}

.post-description p.loading {
  background-color: rgb(224, 222, 222);
  color: rgb(224, 222, 222);
  line-height: 20px;
  display: inline;
  padding: 0;
  margin: 0;
}

.liked-by {
  display: flex;
  font-size: 0.8rem;
  margin-bottom: 10px;
  align-items: center;
}

.liked-by a:nth-child(n + 2) {
  margin: 0 5px;
  font-weight: 700;
}

.liked-by a:nth-child(1) {
  margin-right: 5px;
}

.liked-by a:nth-child(1) img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  object-fit: contain;
}

/* SUGGESTED */

.suggested-people{
  width: 300px;
  margin: 15px 0 0 60px;
}

.suggested-people span:nth-child(1){
  color: #737373;
  font-size: 0.9rem;
  font-weight: 500;
}

.suggestion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.suggestion a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestion span{
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
}

.suggestion img{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.suggestion button{
  background: none;
  border: none;
  color: #0095f6;
  cursor: pointer;
}

.suggestion button:hover{
  color: black;
}

.signature{
  font-size: 0.7rem;
  color: #c7c7c7;
}

/* COMMENTS */

.add-comment-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-comment {
  border: none;
  border-bottom: 1px solid rgb(224, 222, 222);
  width: 100%;
  padding-bottom: 15px;
  margin-top: 10px;
}

.add-comment:focus {
  outline: none;
}

.add-comment-container button {
  background: none;
  border: none;
  color: #0095f6;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 1px solid rgb(224, 222, 222);
}

.add-comment-container button:hover {
  color: black;
}

/*------------------------*/

/* PROFILE */

.main-profile-container {
  margin-left: 22vw;
}

.profile-container {
  padding: 30px 20px 0;
  margin: 0 15%;
  width: calc(100% - 30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-data {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}

.profile-picture {
  width: 300px;
  margin-right: 30px;
  text-align: center;
}

.profile-picture img {
  border-radius: 100%;
}

.username-edit {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-data {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-data div:nth-child(1) h5 {
  font-size: 18px;
  margin-right: 20px;
}

.profile-username {
  font-weight: 700;
  font-size: 14px;
}

.profile-bio {
  margin-top: 20px;
  font-size: 14px;
}

.posts-border {
  border-top: 1px solid rgb(224, 222, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.posts-border div {
  font-size: 12px;
  margin: 0 20px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.posts-border div.active {
  border-top: 1px solid rgba(97, 97, 97, 0.9);
}

.posts-border div p {
  margin-left: 5px;
}

/* POSTS ON PROFILE */

.posts-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.post-on-profile {
  aspect-ratio: 1;
}

.grid-item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: -20;
}

.grid-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------------- */
/* USER FOLLOWI LIST */

.followers{
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-right: 0!important;
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.followers::-webkit-scrollbar {
  display: none;
}

.followers h1{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(204, 208, 213);
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  font-weight: 600;
}

.follower-in-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0!important;
  margin: 10px 0;
}

.follower-in-list a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.follower-in-list a img{
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
}

.follower-in-list a div h5{
  font-weight: 600;
  font-size: 0.9rem!important;
  margin-bottom: 3px;
}
.follower-in-list a div span{
  font-size: 0.9rem!important;
  color: #737373;
}

/* -------------------- */

.edit-button,
.unfollow-button,
.follow-button {
  padding: 0px 16px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  min-width: 69px;
  height: 32px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.follow-button {
  background-color: #0095f6;
  color: white;
}

.follow-button:hover {
  background-color: #0064e0;
}

.unfollow-button:hover{
  background-color: rgb(223, 223, 223);
}

.post-followers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 20px;
}

.post-followers div{
  margin-right: 40px;
}

.post-followers strong {
  margin-right: 5px;
  font-weight: 700;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/*------------------------*/

/* SIGNUP */
.form-outline {
  position: relative;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  position: absolute;
  bottom: 0;
  left: 15px;
}

.notification-container {
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-container .follow-notif-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-container a div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SIGNUP */

.brand-logo-on-signup {
  font-size: 45px;
  margin: 0px 25px 25px;
}

.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(228, 228, 228);
  padding: 20px 20px 50px;
  width: 350px;
}

.form-container p {
  font: 16px;
  margin: 10px;
}

.form-outline {
  width: 100%;
  text-align: center;
}

.form-control {
  width: 80%;
  margin: 10px;
  padding: 15px;
  border: 1px solid rgb(228, 228, 228);
  background-color: rgb(252, 252, 252);
}

.alt-login {
  padding: 20px 0;
  margin-top: 10px;
  width: 392px;
}

.alt-login p {
  font-weight: 700;
}

.alt-login p a {
  font-weight: 500;
}

.signup-button {
  background: #0095f6;
  color: white;
  border: none;
  width: calc(100% - 30px);
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.signup-button:hover {
  background: #0064e0;
}

.login-error {
  color: red;
}

/* CreatePost */

.create-post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(97, 97, 97, 0.8);
}

.create-post-container {
  background-color: white;
  height: 80%;
  width: 700px;
  border-radius: 15px;
}

.text-center {
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.upload-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 40px);
  width: 100%;
}

.drag-info {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drag-info svg {
  margin-bottom: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.photo-preview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-preview img {
  width: 100%;
  overflow: hidden;
}

.file-upload-container {
  position: relative;
}

.file-upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.file-upload-label {
  display: inline-block;
  padding: 12px 16px;
  cursor: pointer;
  background-color: #0095f6;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: bold;
  outline: none;
  margin-top: 25px;
}

.file-upload-label:hover {
  background-color: #0064e0;
}

.continue-with-creating {
  display: flex;
  justify-content: space-between;
}

.continue-with-creating span {
  margin: 0 25px;
  cursor: pointer;
  color: #0095f6;
}

.continue-with-creating span:nth-child(1) {
  color: red;
}

.continue-with-creating span:hover {
  color: black;
}

/* Navbar - Search bar */

.search-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-input {
  font-size: 1rem;
  margin: 25px;
  padding: 13px;
  border-radius: 5px;
  border: none;
  background-color: rgb(240, 240, 240);
}

.search-input:focus {
  outline: none;
}

.hr {
  display: flex;
  height: 1px;
  border-bottom: 1px solid rgb(224, 222, 222);
}

.search-result {
  width: calc(100% -30px);
  padding: 10px;
}

.search-result:hover {
  background-color: rgb(240, 240, 240);
}

.result-box {
  width: 100%;
  padding: 0 15px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.5s ease;
}

.result-box img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.result-box span {
  margin-left: 15px;
  font-size: 0.8rem;
}

.result-names {
  display: flex;
  flex-direction: column;
}

.result-names span:nth-child(1) {
  font-weight: 600;
  margin-bottom: 5px;
}
.result-names span:nth-child(2) {
  color: rgb(150, 150, 150);
}

/* Messenger - Chats */

.chat-box {
  z-index: -10;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  width: 100% !important;
}

.chats-box {
  height: 100%;
  width: 33%;
  border-right: 1px solid rgb(224, 222, 222);
}

.chats-span {
  font-weight: 700;
  font-size: 0.9rem;
  margin: 15px;
}

.empty-messages {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.empty-messages svg {
  border: 1px solid black;
  border-radius: 50%;
  padding: 15px;
  transform: scale(2);
}

.empty-messages span {
  margin-top: 40px;
  font-size: 1.2rem;
}

.empty-messages p {
  margin: 15px 0;
  color: rgb(150, 150, 150);
}

.messages-heading {
  padding: 0 15px !important;
  margin-top: 40px;
}

.messages-span {
  font-weight: 700;
  padding: 15px;
  margin-top: 15px;
  font-size: 0.9rem;
}

.messenger {
  width: 100%;
  height: 100vh;
  display: flex;
}

.chats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.chat {
  display: flex;
  height: 50px;
  width: calc(100% - 40px);
  padding: 10px 20px;
  cursor: pointer;
}

.chat:hover {
  background-color: rgb(252, 252, 252);
}

.friends-photo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.friends-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 0.8rem;
}

.friend-info img {
  width: 50px;
  height: 50px;
}

.friends-info span:nth-child(2) {
  color: rgb(150, 150, 150);
}

.messenger {
  display: flex;
  flex-direction: column;
  margin-right: 85px;
}

.friend-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(224, 222, 222);
}

.friend-info img {
  width: 50px;
  margin: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.friend-info {
  font-size: 0.9rem;
  font-weight: 600;
}

.messages-container {
  height: 100%;
  padding: 15px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.messages-container::-webkit-scrollbar {
  display: none;
}

.messenger input {
  margin: 15px;
  padding: 15px;
  border-radius: 30px;
  width: calc(100% - 70px);
  border: 1px solid rgb(224, 222, 222);
}

.messenger input:focus {
  outline: none;
}

.send-message {
  position: relative;
}

.send-button {
  position: absolute;
  right: 50px;
  top: 32px;
  font-size: 0.8rem;
  cursor: pointer;
  color: #0064e0;
}

.send-button:hover {
  color: black;
}

.message {
  width: 100%;
  display: flex;
}

.my-message-container {
  justify-content: flex-end;
  align-items: flex-end;
}

.friends-message-container {
  justify-content: flex-start;
  align-items: flex-start;
}

.my-message,
.friends-message {
  padding: 10px;
  margin: 1px;
  border-radius: 10px;
  font-size: 0.8rem;
}
.friends-message {
  background-color: #efefef;
  color: black;
}

.my-message {
  color: white;
  background-color: #0064e0;
}

/* Update */

.edit-profile {
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 1.2rem;
}

.profile-setting-form {
  max-width: 400px;
}

.profile-picture-settings {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

.settings-container {
  margin-left: calc(14vw + 85px);
  padding: 0 15% 0 5%;
  display: flex;
  justify-content: center;
}

.settings-container form {
  width: 50%;
  padding: 50px;
}

.picture-update {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #efefef;
  padding: 16px;
  margin-bottom: 25px;
  border-radius: 20px;
}

.picture-update div {
  display: flex;
}

.picture-update-spans {
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 0.9rem;
}

.picture-update-spans span:nth-child(1) {
  color: black;
  font-weight: 600;
  margin-bottom: 3px;
}

.picture-update-spans span:nth-child(2) {
  color: #737373;
}

.update-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  font-size: 0.9rem;
  font-weight: 600;
}

.update-form label {
  margin-bottom: 15px;
}

.update-form input,
.update-form textarea {
  padding: 15px;
  border-radius: 12px;
  border: 1px solid rgb(204, 208, 213);
  margin: 0;
  width: 100%;
}

.update-form input:focus,
.update-form textarea:focus {
  outline: 1px solid black;
}

.update-submit {
  color: white;
  border-radius: 8px;
  padding: 15px 100px;
  background-color: #0095f6;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
.update-submit:hover {
  background-color: #0064e0;
}

.send-password-button {
  margin-bottom: 15px;
}

.resend-email {
  margin-bottom: 15px;
}

.resend-email button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: inherit;
  color: #0064e0;
}
.resend-email button:hover {
  color: black;
}

/* Post */

.post-background {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(97, 97, 97, 0.5);
  z-index: 1005;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 0.9rem;
}

.card {
  display: flex;
  background-color: white;
  max-width: 85%;
  height: 90%;
}

.card-img-top {
  max-width: 60%;
  object-fit: contain;
  background-color: black;
}

.card-body {
  max-width: 500px;
  display: grid;
  grid-template-rows: 60px 1fr 5fr 50px 50px;
  font-size: 0.8rem;
  line-height: 18px;
}

.post-header.in-post {
  padding: 30px 15px;
  font-weight: 600;
  border-bottom: 1px solid rgb(224, 222, 222);
}

.post-header-description {
  padding: 15px;
}

.comments-in-post {
  overflow-y: scroll;
  margin: 0 15px 15px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: calc(100% - 30px);
}

.comments-in-post::-webkit-scrollbar {
  display: none;
}

.interactions.in-post {
  padding: 15px;
}

.add-comment-container.in-post {
  padding: 0 15px;
  margin-bottom: 15px;
  width: calc(100% - 30px);
}

.show-post .icon-tabler-x {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
}

.post-header-description {
  display: flex;
}

.bold {
  font-weight: 700;
}

.comment {
  display: flex;
  width: 100%;
  text-wrap: wrap;
  margin-bottom: 20px;
}

.comment a img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}

.comment p {
  width: 90%;
  word-wrap: break-word;
}

.comment p a {
  font-weight: 600;
}
