@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@100;300;400;500;700&family=Roboto:wght@100;300;500;700&display=swap');

/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.icon-tabler-heart-active{
  color: red;
}

/* NAVBAR */

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

.nav-wrapper{
  position: fixed;
  left: 0;
  height: calc(100% - 28px);
  background-color: white;
  padding: 8px 12px 20px;
  border-right: 1px solid rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.nav-wrapper .container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.nav-wrapper a{
  color: black;
  text-decoration: none;
}

.nav-wrapper a svg, .menu-bar svg {
  width: 35px;
  text-align: start;
}

.brand-logo h1, .brand-logo svg{
  padding: 25px 12px 16px;
  margin-bottom: 19px;
  color: black;
  font-family: 'Oleo-Script';
  font-size: 2.5rem;
}

.container a:nth-child(n+2), .nav-wrapper footer, .menu-bar{ 
  padding: 12px;
  margin: 4px 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
}

.container a:nth-child(n+2):hover, .nav-wrapper footer:hover, .menu-bar:hover{
  background-color: rgb(240, 240, 240);
}

.nav-wrapper footer button, .container a button, .menu-bar button{ 
  border: none;
  background-color: inherit;
  padding-left: 16px;
  font-size: 1rem;
  cursor: pointer;
  width: 14vw;
  text-align: start;
}

.notif-icon{
  position: relative;
}

.notif-count{
  position: absolute;
  top: 10px;
  left: 28px;
  background-color: red;
  height: 1rem;
  width: 1rem;
  font-size: 0.8rem;
  font-weight: 100;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
}

.dropdown-menu {
  position: fixed;
  top: 0;
  left: 84px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  border-radius: 0 20px 20px 0;
  border-right: 1px solid rgb(224, 222, 222);
  box-shadow: 10px 0 5px -2px rgba(97, 97, 97, 0.1);
}

.dropdown-menu h1{
  font-size: 30px;
  font-weight: 700;
  padding: 25px 15px 15px;
}

.notif-by{
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  display: flex;
  padding: 15px 20px 15px;
}

.notif-by img{
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.notif-by strong{
  margin-right: 15px;
  font-weight: 700;
}

.notification:hover{
  background-color: rgb(240, 240, 240);
}

/*------------------------*/

/* HOME PAGE */

.home-container {
  margin-left: calc(14vw + 85px);
  display: flex;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.quick-message {
  width: 20rem;
  height: 20rem;
  background-color: blanchedalmond;
  margin: 25px 0 0 25px;
}

.post {
  max-width: 468px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(224, 222, 222);
  margin-bottom: 20px;
}

.post svg {
  cursor: pointer;
}

.post-header{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.post-header label{
  cursor: pointer;
  font-size: 0.9rem;
}

.profile-photo {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin-right: 12px;
}

.profile-photo.navbar{
  margin-right: 0;
}

.post .post-photo{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid rgb(224, 222, 222);
}

.interactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.interactions div svg{
  margin-right: 15px;
}

.post-description h4{
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.post-description p{
  font-size: 0.9rem;
}

/*------------------------*/
.profile-setting-form{
	max-width: 400px;
}

.profile-picture-settings{
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 100%;
}




/* SIGNUP */
.form-outline{
  position: relative;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  position: absolute;
  bottom: -23px;
}

.notification-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-container .follow-notif-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-container a div {
  display: flex;
  justify-content: center;
  align-items: center;
}